html {
  font-size: 16px;
  color: #454545;
}



.container {
  width: 80%;
  display: flex;
  margin: 0 auto;
}


/*Header Section*/

header {
  background-color: white;
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
}

.main-container {
  position: relative;
  top: 4rem;
}

header .colmar-title {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}

header .logo {
  height: 3rem;
}

header img {
  height: 100%;
}

header h1 {
  font-size: 2rem;
}

.bold {
  font-weight: bold;
}

header nav{
  display: flex;
  margin-right: 1.5rem;
}

header ul{
  display: flex;
}

header li {
  font-size: 1.25rem;
  margin-left: 1rem;
}


/*Banner Section*/

.banner {
  padding: 3rem 2rem;
  background-color: lightgrey;
  display: flex;
}

.banner-img {
  width: 60%;
}

.banner-img img {
  width: 100%;
}

.banner-text {
  width: 40%;
  margin: auto 0 auto 4rem;
  color: #3F3F3F;
}

.banner-text h1 {
    font-weight: bold;
    font-size: 4rem;
}

.banner-text h2 {
  font-size: 2rem;
  margin: 2rem 0;
}

.banner-text .banner-btn {
  color: lightgrey;
  background-color: #3F3F3F;
  width: 100%;
  padding: 0.5rem 0;
  text-align: center;
  vertical-align: middle;
}

.banner-text .banner-btn p {
  font-size: 2rem;
}

/*Information Section*/
/*.information {
  margin: 2rem 0;
}*/

.information-main {
  width: 60%;
  padding: 2rem 1.5rem;
  border-right: 1px solid lightgrey;
}

.information-main img {
  width: 100%;
  height: auto;
}

.article-main-text h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 2rem;
}

.article-main-text p {
  font-size: 1.25rem;
  line-height: 1.5;
}

.article-main-text p:first-of-type {
  margin: 1.5rem 0 2rem 0;
}

.article-main-author {
  margin-top: 3rem;
}

.information-sub {
  width: 40%;
  height:auto;
  margin: 2rem 0;
}

.article {
  width: 100%;
  display: flex;
  padding: 1rem 5%;
  margin-bottom: 2px;
  border: 1px solid lightgrey;
}

.article-img {
  width: 30%;
  height: auto;
}

.article-img img {
  width: 100%;
}

.article-text {
  width: 60%;
  font-size: 1.25rem;
  line-height: 1.5;
  margin: auto;
}

.article-text h1 {
  font-size: 2rem;
  font-weight: bold;
}

.article-text a {
  color: #60BCF2;
}

.article-active {
  background-color: lightgrey;
}
